# usage:
# from pathlib import Path
# import logging
# import logging.config
# import yaml
# if Path('log.config').exists():
#     with open('log.config', 'r') as file:
#         logging.config.dictConfig(yaml.safe_load(file.read()))

version: 1
formatters:
  simple_fmt:
    format: '[%(levelname)s] %(asctime)s: %(message)s'
    datefmt: '%m/%d %H:%M:%S'
handlers:
  console:
    class : logging.StreamHandler
    formatter: simple_fmt
    level   : DEBUG
    stream  : ext://sys.stdout
  file:
    class : logging.handlers.RotatingFileHandler
    formatter: simple_fmt
    filename: log.txt
    maxBytes: 1024
root:
  level: DEBUG
  handlers: [console, file]